/*Overrides start*/

body {
  padding-top: 80px;
  padding-bottom: 20px;
}

.navbar {
  padding: 2px;
  box-shadow: 0 -1px 2px 2px #980000
}

.main-navbar {
  background: #ff6a00;
}

.main-color {
  background: #ff6a00;
}

  .main-navbar a {
      color: white !important;
  }

.btn {
  color: white !important;
  font-weight: bold;
  border-radius: 0;
}

.btn-primary {
  background: #ff6a00;
  border: none;
}

  .btn-primary:hover {
      background: #ea6404;
  }

.box {
  box-shadow: 0px 0px 3px 0px #d6d6d6;
  border-radius: 5px !important;
}

.main-text {
  font-weight: bold;
  text-shadow: 1px 1px #8a000d;
}

.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.dl-horizontal dt {
  white-space: normal;
}

input,
select,
textarea {
  max-width: 280px;
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
/* .saboteur-dwarf {
  background: url(../Images/dwarfs.jpg) 0 -151px;
  width: 103px;
  height: 147px;
  display: inline-block;
}

.hardworking-dwarf {
  background: url(../Images/dwarfs.jpg) 0 0;
  width: 103px;
  height: 147px;
  display: inline-block;
}

.cardback-dwarf {
  background: url(../Images/dwarfs.jpg) 100px 144px;
  width: 98px;
  height: 142px;
  display: inline-block;
}

.start-card {
  background: url(../Images/start-and-finish-v1.jpg) -3px 98px;
  width: 140px;
  height: 93px;
  display: inline-block;
}

.gold-card {
  background: url(../Images/start-and-finish-v1.jpg) -9px 201px;
  width: 140px;
  height: 93px;
  display: inline-block;
}

.fake-gold-left {
  background: url(../Images/start-and-finish-v1.jpg) -3px 412px;
  width: 140px;
  height: 93px;
  display: inline-block;
}

.fake-gold-right {
  background: url(../Images/start-and-finish-v1.jpg) -3px 412px;
  width: 140px;
  height: 93px;
  display: inline-block;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.cart-lock {
  background: url(../Images/main-v.jpg) -5px -153px;
  width: 95px;
  height: 140px;
  display: inline-block;
}

.cart-unlock {
  background: url(../Images/main-v.jpg) -318px -153px;
  width: 95px;
  height: 140px;
  display: inline-block;
}

.destroy-tunnel {
  background: url(../Images/main-v.jpg) -5px -318px;
  width: 95px;
  height: 140px;
  display: inline-block;
}

.kinky-lock {
  background: url(../Images/main-v.jpg) -5px -153px;
  width: 95px;
  height: 140px;
  display: inline-block;
}

.kinky-unlock {
  background: url(../Images/main-v.jpg) -5px -153px;
  width: 95px;
  height: 140px;
  display: inline-block;
}

.lantern-lock {
  background: url(../Images/main-v.jpg) -5px -153px;
  width: 95px;
  height: 140px;
  display: inline-block;
}

.lantern-unlock {
  background: url(../Images/main-v.jpg) -5px -153px;
  width: 95px;
  height: 140px;
  display: inline-block;
}

.lantern-cart-unlock {
  background: url(../Images/main-v.jpg) -5px -153px;
  width: 95px;
  height: 140px;
  display: inline-block;
}

.kinky-lantern-unlock {
  background: url(../Images/main-v.jpg) -5px -153px;
  width: 95px;
  height: 140px;
  display: inline-block;
}

.kinky-cart-unlock {
  background: url(../Images/main-v.jpg) -5px -153px;
  width: 95px;
  height: 140px;
  display: inline-block;
}

.see-card {
  background: url(../Images/main-v.jpg) -5px -153px;
  width: 95px;
  height: 140px;
  display: inline-block;
}

.cardback-main {
  background: url(../Images/main-v.jpg) -5px -153px;
  width: 95px;
  height: 140px;
  display: inline-block;
} */