/*Overrides end*/
/*Chat start*/
.chat {
    position: relative;
}

.chat-input {
    transition: none !important;
    border-radius: 0 !important;
    border: none;
    border-top: 1px solid #dee2e691;
    max-width: 100% !important;
}

    .chat-input:focus {
        color: #495057;
        background-color: #fff;
        border-color: #ff6a00;
        outline: 0;
        box-shadow: none !important;
    }

.chat-head {
    background: #ff6a00;
    color: white;
    text-align: center;
    padding: 2px 0;
    -webkit-box-shadow: 0 1px 0px 0px #980000;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 0px 0px #980000;
}

.chat-body {
    height: 300px;
    padding: 5px;
    overflow-y: auto;
}

.chat-message{
    padding:1px 0;
}

.chat-message > span {
    padding: 5px 15px;
    color: white;
    font-weight: 400;
}

.chat-msg-received {
    display: block;
}

    .chat-msg-received > span {
        display: inline-block;
        background: #0094ff;
        border-radius: 10px 10px 10px 0;
        border-radius: 0px 10px 10px 0;
    }

.chat-msg-sent {
    display: block;
    text-align: right;
}

    .chat-msg-sent > span {
        display: inline-block;
        background: #ff6a00;
        border-radius: 10px 10px 0 10px;
        text-align: right;
        border-radius: 10px 0 0 10px;
    }

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
/*Chat end*/

.main-table{
    border: 1px solid #eaeaea;
    border-radius: 5px 5px 0 0;
    border-top: none;
}

.main-table td{
    padding: 2px 5px 2px 5px !Important;
    vertical-align: middle !Important;
}

table.main-table thead th {
    vertical-align: bottom !Important;
    border-bottom: none;
    background: #ff6a00 !Important;
    color: white !Important;
    padding: 3px 5px!Important;
}

table.main-table {
    width: 100%;
    display:block;
}
table.main-table > thead {
    display: inline-table;
    width: 100%;
    height: 20px;
}
table.main-table > tbody {
    height: 330px;
    display: inline-block;
    width: 100%;
    overflow: auto;
}

table.main-table td{
    width: 100%;
}

.lobby-main-btn{
    font-size: 15px !important;
}

.lobby-main-btn>i{
    padding: 0 8px 0 0;
}

.lobby-main-header{
    color: #ff6a00;
    text-shadow: 3px 3px #e2e2e2;
    font-weight: bold;
}